.container {
    margin-top: 50px;
    max-width: 500px;
    -webkit-box-shadow: 10px 10px 10px 10px #828282;
    -moz-box-shadow: 10px 10px 10px 10px #828282;
    box-shadow: 10px 10px 10px 10px #828282;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.footer{
    margin-bottom: 20px;
    text-align: center;
}