<button class="btn btn-outline-success my-2 my-sm-0" (click)="Logout()">Logout</button>
<div class="container">
    <label>Search User : </label><input type="text" [(ngModel)]=" SearchText" placeholder="Search">
    <table class="table">
        <thead>
            <th scope="col">Sr</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Hobbies</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <ng-container *ngIf="AlluserData.length > 0">
                <tr
                    *ngFor="let item of AlluserData | filter: SearchText | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalItems }; let i= index">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.mobile}}</td>
                    <td><i *ngIf="item.gender == 'male'" class="bi bi-gender-male"></i>
                        <i *ngIf="item.gender == 'female'" class="bi bi-gender-female"></i>
                    </td>
                    <td>{{item.dob}}</td>
                    <td>{{item.hobbies}}</td>
                    <td *ngIf="Loginuser.usertype == 1 || item.mobile == Loginuser.mobile">
                        <button><i class="bi bi-binoculars-fill"></i> &nbsp;</button>
                        <button (click)="DeleteUser(i)"><i class="bi bi-archive-fill"></i> &nbsp; </button>
                        <button (click)="updatedata(i)"><i class="bi bi-pencil-fill"></i></button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div class="pagination-container">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>