.container {
    margin-top: 50px;
    -webkit-box-shadow: 10px 10px 10px 10px #828282;
    -moz-box-shadow: 10px 10px 10px 10px #828282;
    box-shadow: 10px 10px 10px 10px #828282;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.header{
    margin: 20px;
    text-align: center;
}